.dashboard-nav{
	display: inline; 
	margin-left: 20px;
}

.dashboard-nav a{
	text-decoration: none;
	font-size: 16px;
	padding: 0 10px 0 10px;
	margin: 0;
}

.dashboard-nav a.active{
	font-weight: bold;
}

.dashboard-nav a:not(:last-child){
	border-right: 1px solid #999;
}

.dashboard-nav a:hover{
	opacity: 0.7;
}

.delete-poll{
	float: right;
}
